/* /\/\/\/\/\/\/\/\/ CLIENT-SPECIFIC STYLES /\/\/\/\/\/\/\/\/ */
#outlook a{padding:0;} /* Force Outlook to provide a "view in browser" message */
.ReadMsgBody{width:100%;} .ExternalClass{width:100%;} /* Force Hotmail to display emails at full width */
.ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {line-height: 100%;} /* Force Hotmail to display normal line spacing */
body, table, td, p, a, li, blockquote{-webkit-text-size-adjust:100%; -ms-text-size-adjust:100%;} /* Prevent WebKit and Windows mobile changing default text sizes */
table, td{mso-table-lspace:0pt; mso-table-rspace:0pt;cursor:default;} /* Remove spacing between tables in Outlook 2007 and up */
img{-ms-interpolation-mode:bicubic;} /* Allow smoother rendering of resized image in Internet Explorer */

/* /\/\/\/\/\/\/\/\/ RESET STYLES /\/\/\/\/\/\/\/\/ */
body{margin:0; padding:0;}
img{border:0; height:auto; line-height:100%; outline:none; text-decoration:none;}
table{border-collapse:collapse !important;}
body, #bodyTable, #bodyCell{height:100% !important; margin:0; padding:0; width:100% !important;}

/* /\/\/\/\/\/\/\/\/ TEMPLATE STYLES /\/\/\/\/\/\/\/\/ */

// palette
$clr-white: #ffffff;
$clr-sunshine: #F1CB2C;
$clr-seashore: #8BE9E5;
$clr-pinetree: #31AA49;
$clr-drip: #FF8F6F;
$clr-lioness: #DF6B1F;
$clr-blonde: #F5E8BB;
$clr-nutmeg: #CBBEB6;
$clr-tea: #8C7C72;

$clr-nightsky: #302924;
$clr-daydream: #9A9AE3;

// text colors

.txt-clr-white {
	color:$clr-white;
}

.txt-clr-nutmeg {
	color:$clr-nutmeg;
}

.txt-clr-pinetree {
	color:$clr-pinetree;
}
.txt-clr-lioness {
	color:$clr-lioness;
}
.txt-clr-sunshine {
	color:$clr-sunshine;
}

::-moz-selection { background: $clr-lioness; color: $clr-white; }
::selection { background: $clr-lioness; color: $clr-white; }

// background colors

.bg-clr-nutmeg {
  background-color: $clr-nutmeg !important;
}
.bg-clr-white {
  background-color: $clr-white !important;
}
.bg-clr-nightsky {
  background-color: $clr-nightsky !important;
}
.bg-clr-lioness {
  background-color: $clr-lioness !important;
  color: $clr-white;
}
.bg-clr-nightsky {
  background-color: $clr-nightsky !important;
}
.bg-clr-sunshine {
  background-color: $clr-sunshine !important;
}
.bg-clr-drip {
  background-color: $clr-drip !important;
  color: $clr-white;
}
.bg-clr-pinetree {
  background-color: $clr-pinetree !important;
  color: $clr-white;
}
.bg-clr-cream {
  background-color: $clr-daydream !important;
  color: $clr-drip;
}
.bg-clr-blonde {
  background-color: $clr-blonde !important;
  color: $clr-drip;
}
.bg-clr-seashore {
  background-color: $clr-seashore !important;
  color: $clr-drip;
}

// sizing
$base:80px;
$base-max-width: 550px;

// typography

$fnt-body:'Helvetica', 'Roboto', 'Arial', 'Trebuchet', sans-serif;

a, a:hover, a:visited, a:active, a:focus {
	color:$clr-drip;
	text-decoration:underline;
	cursor:pointer;
}

.lmnt-btn {
	font-family:$fnt-body;
	font-size:17px;
	font-weight:bold;
}

h1 {
	margin:0;
	padding:0;
	line-height:1.1;
	font-size:34px;
	letter-spacing:-1.21px;
	cursor:default;
}

p {
	font-size:18px;
	color:$clr-white;
	-webkit-margin-before:0;
  -webkit-margin-after:0;
	margin:0;
	padding-top:0;
	padding-bottom:$base/2;
}

.lmnt-break {
	margin:$base 0 0 0;
	border:none;
	height:1px;
	width:100%;
	background-color:$clr-nutmeg;
}
.lmnt-break-small {
	margin:$base/2 0;
	border:none;
	height:3px;
	width:50px;
	background-color:$clr-drip;
}

// core structure

body,html {
	background-color:lighten($clr-nightsky,4%);
}

body, #bodyRow {
	/*@editable*/ background-color:lighten($clr-nightsky,4%);
	color:$clr-drip;
	font-family:$fnt-body;
	font-size:14px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
}

#bodyCell {
	padding:0;
}

#templateWrapper {
	/*@editable*/ border:none;
	max-width:$base-max-width;
	width:100%;
	margin-top:0;
}

// header

#headerRow {
	font-family:$fnt-body;
	font-size:14px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	padding:$base 0 0 0;
}

#headerCell {
	padding-bottom:0;
}

// footer
#footerRow {
	background-color:#FCFF5E;
	color:#ffffff;
	font-family:$fnt-body;
	font-size:14px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	padding-bottom:$base;
}

#footerCell {
	padding-bottom:$base;
}

// directory

.lmnt-dir-wrap {
	display:flex;
	flex-direction:column;
	align-items:center;
	padding:$base $base/4 $base $base/4;
	margin:0 auto;
	width:100%;
	max-width:550px;
	.lmnt-dir-inner {
		display:flex;
		flex-direction:column;
		align-items:center;
		background-color:$clr-white;
		padding:$base/2;
	}
	.lmnt-dir-header {
		display:flex;
		flex-direction:column;
		align-items:flex-start;
		.lmnt-dir-caption {
			text-transform:uppercase;
			letter-spacing:2px;
			margin-top:$base/5;
		}
		.lmnt-dir-title {
			font-size:45px;
			font-weight:bold;
			text-align:left;
			color:$clr-lioness;
		}
		p {
			text-align:left;
			padding-top:$base/4;
		}
	}
	.lmnt-dir-table {
		display:flex;
		flex-wrap:wrap;
		flex-direction:row;
		justify-content:space-between;
		width:100%;
		.lmnt-dir-head {
			display:flex;
			flex-direction:row;
			font-weight:bold;
			width:100%;
			padding:$base/4;
			border-bottom:1px solid $clr-nutmeg;
		}
		.lmnt-dir-row {
			display:flex;
			padding:$base/4;
			flex-direction:row;
			width:100%;
			cursor:pointer;
			border-radius:3px;
			margin:3px 0;
			.lmnt-dir-col-left {
				color:$clr-lioness !important;
				font-weight:bold;
				display:flex;
				justify-content:center;
				flex-direction:column;
			}
			.lmnt-dir-col-right {
				width:50%;
			}
			&:hover {
				background-color:$clr-daydream;
			}
			a {
				display:flex;
				width:100%;
			}
		}
		.lmnt-dir-col-left {
			width:50%;
		}
		.lmnt-dir-col-right {
			width:50%;
		}
	}
}

// columns

.lmnt-col-left {
	width:50%;
	text-align:left;
}
.lmnt-col-right {
	width:50%;
	text-align:right;
}
.lmnt-col-full {
	width:100%;
}

.lmnt-article-body {
	padding-top:0;
}


// header
#lmntHeader {
	margin:0 auto;
	width:100%;
	.lmnt-col-left {
		width:50%;
		padding:$base/3 $base/4 0 $base/2;
	}
	.lmnt-col-right {
		width:50%;
		text-align:right;
		padding:$base/2 $base/2 0 $base/4;
		color:#604430;
		font-size:12px;
		span {
			color:$clr-nutmeg;
		}
	}
}

// lmntFullwidthArticle

#lmntFullwidthArticle {
	margin:0 auto;
	width:100%;
	.lmnt-col-full {
		padding:0 $base/2;
	}
	.lmnt-fullwidth {
		padding:0;
	}
}

#lmntArticle {
	margin:0 auto;
	width:100%;
	.lmnt-col-full {
		padding:0 $base/2;
	}
	.lmnt-article-body {
		padding:0 $base/2 $base/2 $base/2;
	}
	.lmnt-article-header {
		padding-bottom:$base/4;
	}
	.lmnt-article-img {
		padding-top:0;
	}
	p {
		padding-top:0;
	}
}

#lmntFooter {
	background:none;
	color:$clr-tea !important;
	line-height:1.5;
	a, a:visited, a:hover, a:active {
		color:$clr-tea !important;
	}
	td {
		padding-top:$base/2;
		color:$clr-tea !important;
	}
}

// structure
